#mainFAQs {
    margin-top: 50px;
    margin-bottom: 50px;

    #faqs {

        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-bottom: 40px;

        .titulo-faqs {
            font-size: $title-font;
            margin-right: 50px;


        }
    }

    .carrete-faqs {
        background-image: url(../media/faqs/darkIT.avif);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 50px;

        .tarjeta-faqs {
            width: 500px;

            .imag-faqs {
                border-radius: 10px 10px 10px 10px;
                padding: 10px 10px 10px 10px;

                .imag-tamaño-faqs {
                    width: $full-size;
                    border-radius: 10px 10px 10px 10px;

                }

                .imag-tamaño-faqs:hover {
                    transform: scale(1.1);
                    transition-duration: 1000ms;


                }

                .nombre-faqs {
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    margin-top: 15px;

                }

            }

        }

    }

    article {
        margin: 20px 20px 20px 20px;

        .accordion-button {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 1rem 1.25rem;
            font-size: 20px;
            color: #212529;
            text-align: left;
            background-color: #fff;
            border: 0;
            border-radius: 0;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;

        }

        .accordion-button:not(.collapsed) {
            color: #000000;
            background-color: #e7f1ff;
            font-size: 20px;
        }

        .accordion-button:focus {
            z-index: 3;
            border-color: #000000;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
        }
    }
}