@media screen and (max-width: 427px) {
    body {
        font-size: 13px;

        header {
            .dropdown-menu.show {
                font-size: 13px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                ul {
                    list-style-type: none;

                    li {
                        display: inline-block;
                        margin-top: 20px;

                    }
                }
            }
        }

        #mainInicio {
            margin: 0px 0px 10px 0px;

            .imag-carrusel {
                height: 250px;
            }

            .medios {
                margin-top: -30px;
                margin-bottom: -30px;
                margin-left: 10px;

                .envio-pais {

                    .courier {
                        width: 35px;
                        margin-left: 40px;
                    }

                    .mensaje-somos {
                        font-size: 14px;
                    }

                }

                .cuotas-interes {

                    .tarjetas {
                        width: 65px;
                        margin-left: 40px;
                    }

                    .mensaje-somos {
                        font-size: 14px;
                    }
                }
            }

            .mensaje-mas-vendidos {
                font-size: 30px;

            }

            h2 {
                justify-content: center;
            }
        }



        #mainProductos {
            #productos {
                .titulo-productos {
                    font-size: 30px;
                }
            }

            .carreteProd {
                padding-bottom: 0px;

            }
        }


        #mainTiendas {
            margin: 50px 50px 50px 50px;

            #tiendas {
                display: flex;
                flex-direction: row;
                justify-content: end;
                margin-bottom: 40px;

                .titulo-tiendas {
                    font-size: 30px;
                }
            }

            .mapa {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-bottom: 80px;

                .nombre-tienda {
                    font-size: 15px;
                    display: flex;
                    justify-content: flex-end;
                    margin: 30px 10px 20px 0px;

                    .img-tienda {
                        border-radius: 10px 10px 10px 10px;
                        width: 100%;
                    }

                    .subtitulos-tiendas {
                        font-size: 25px;
                    }

                    .mensaje-tienda {
                        font-size: 13px;
                    }

                }

                .maps {
                    font-size: 15px;
                    display: flex;
                    justify-content: flex-end;
                    margin: 30px 10px 20px 0px;

                }

            }

        }

        #mainContacto {
            margin: 10px 0px 10px 0px;

            #contacto {

                .titulo-contacto {
                    font-size: 30px;
                }
            }

            .form-contacto {
                font-size: 20px;
                margin: 0px 0px 20px 0px;
                padding: 10px 0px 10px 10px;
            }

            .form-control {
                width: 200px;

            }
        }

        #mainFAQs {

            #faqs {
                .titulo-faqs {
                    font-size: 30px;


                }
            }
        }

        #piePrincipal {

            .logoNegro {
                display: none;
            }

            .social {
                display: grid;
                justify-content: center;
                margin-top: -75px;
                margin-left: 40px;
                padding-top: 80px;
            }
        }

        #pieSecundario {
            .segundoTexto {

                .derechos {
                    color: black;
                    font-size: 10px;
                }
            }
        }

    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 13px;

        header {
            .dropdown-menu.show {
                font-size: 13px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                ul {
                    list-style-type: none;

                    li {
                        display: inline-block;
                        margin-top: 20px;
                    }
                }
            }
        }

        #mainInicio {
            margin: 0px 0px 10px 0px;

            .imag-carrusel {
                height: 250px;
            }

            .tarjetas {
                width: 80px;
            }

            .courier {
                width: 50px;
            }

            .mensaje-mas-vendidos {
                font-size: 30px;

            }

            h2 {
                justify-content: center;
            }

            .mensaje-somos {
                font-size: 14px;
            }
        }

        #mainProductos {
            #productos {
                .titulo-productos {
                    font-size: 30px;
                }
            }

            .carreteProd {
                padding-bottom: 0px;

            }
        }

        #mainTiendas {
            margin: 50px 50px 50px 50px;

            #tiendas {
                display: flex;
                flex-direction: row;
                justify-content: end;
                margin-bottom: 40px;

                .titulo-tiendas {
                    font-size: 30px;
                }
            }

            .mapa {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-bottom: 80px;

                .nombre-tienda {
                    font-size: 15px;
                    display: flex;
                    justify-content: flex-end;
                    margin: 30px 10px 20px 0px;


                    .img-tienda {
                        border-radius: 10px 10px 10px 10px;
                        width: 100%;
                    }

                    .subtitulos-tiendas {
                        font-size: 25px;
                    }

                    .mensaje-tienda {
                        font-size: 12px;
                    }

                }

                .maps {
                    font-size: 15px;
                    display: flex;
                    justify-content: flex-end;
                    margin: 30px 10px 20px 0px;


                    .dimension-mapas {
                        width: 300px;
                        height: 200px;
                    }

                }

            }
        }

        #mainContacto {
            margin: 10px 0px 10px 0px;

            #contacto {

                .titulo-contacto {
                    font-size: 30px;
                }

            }

            .form-contacto {
                font-size: 20px;
                margin: 0px 0px 20px 0px;
                padding: 10px 0px 10px 10px;
            }


            .form-control {
                width: 200px;

            }
        }

        #mainFAQs {

            #faqs {
                .titulo-faqs {
                    font-size: 30px;


                }
            }
        }

        #piePrincipal {

            .logoNegro {
                display: none;
            }

            .social {
                display: grid;
                justify-content: center;
                margin-top: -75px;
                margin-left: 40px;
                padding-top: 80px;
            }
        }

        #pieSecundario {
            .segundoTexto {

                .derechos {
                    color: black;
                    font-size: 10px;
                }
            }
        }

    }
}

@media screen and (max-width: 540px) {

    body {
        font-size: 13px;

        header {
            .dropdown-menu.show {
                font-size: 13px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                ul {
                    list-style-type: none;

                    li {
                        display: inline-block;
                        margin-top: 20px;
                    }
                }
            }
        }

        #mainInicio {
            margin: 0px 0px 10px 0px;

            .medios {
                margin-top: -30px;
                margin-bottom: -30px;
                margin-left: 10px;

                .tarjetas {
                    width: 80px;
                }

                .courier {
                    width: 50px;
                }
            }

            .mensaje-mas-vendidos {
                font-size: 30px;

            }

            h2 {
                justify-content: center;
            }

            .mensaje-somos {
                margin-left: 40px;
                margin-right: 40px;
                font-size: 14px;
            }
        }

        #mainProductos {
            #productos {
                .titulo-productos {
                    font-size: 30px;
                }
            }

            .carreteProd {
                padding-bottom: 0px;

            }
        }



        #mainTiendas {
            margin: 50px 50px 50px 50px;

            #tiendas {
                display: flex;
                flex-direction: row;
                justify-content: end;
                margin-bottom: 40px;

                .titulo-tiendas {
                    font-size: 30px;
                }
            }

            .mapa {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-bottom: 80px;

                .nombre-tienda {
                    font-size: 15px;
                    display: flex;
                    justify-content: flex-end;
                    margin: 30px 10px 20px 0px;


                    .img-tienda {
                        border-radius: 10px 10px 10px 10px;
                        width: 100%;
                    }

                    .subtitulos-tiendas {
                        font-size: 25px;
                    }

                    .mensaje-tienda {
                        font-size: 12px;
                    }

                }

                .maps {
                    font-size: 15px;
                    display: flex;
                    justify-content: flex-end;
                    margin: 30px 10px 20px 0px;


                    .dimension-mapas {
                        width: 300px;
                        height: 200px;
                    }

                }

            }
        }

        #mainContacto {
            margin: 50px 50px 50px 50px;

            #contacto {

                .titulo-contacto {
                    font-size: 30px;
                }

            }

            .form-contacto {
                font-size: 20px;
                margin: 0px 0px 20px 0px;
                padding: 10px 0px 10px 10px;
            }


            .form-control {
                width: 165px;

            }
        }

        #mainFAQs {

            #faqs {
                .titulo-faqs {
                    font-size: 30px;


                }
            }
        }

        #piePrincipal {

            .logoNegro {
                display: none;
            }

            .social {
                display: grid;
                justify-content: center;
                margin-top: -75px;
                margin-left: 40px;
                padding-top: 80px;
            }
        }

        #pieSecundario {
            .segundoTexto {

                .derechos {
                    color: black;
                    font-size: 10px;
                }
            }
        }

    }
}

@media screen and (max-width: 793px) {

    body {
        font-size: 13px;

        header {
            .dropdown-menu.show {
                font-size: 13px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                ul {
                    list-style-type: none;

                    li {
                        display: inline-block;
                        margin-top: 20px;
                    }
                }
            }
        }


        #mainProductos {
            #productos {
                .titulo-productos {
                    font-size: 30px;
                }
            }

            .carreteProd {
                padding-bottom: 0px;

            }
        }

        #mainTiendas {
            margin: 50px 50px 50px 50px;

            #tiendas {
                display: flex;
                flex-direction: row;
                justify-content: end;
                margin-bottom: 40px;

                .titulo-tiendas {
                    font-size: 30px;
                }

            }

            .mapa {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-bottom: 80px;

                .nombre-tienda {
                    font-size: 15px;
                    display: flex;
                    justify-content: flex-end;
                    margin: 30px 10px 20px 0px;

                    .img-tienda {
                        border-radius: 10px 10px 10px 10px;
                        width: 100%;
                    }

                    .subtitulos-tiendas {
                        font-size: 25px;
                    }

                    .linea {
                        border-top: 2px solid black;
                        height: 2px;
                        padding: 0;
                    }

                    .mensaje-tienda {
                        font-size: 12px;
                    }

                }

                .maps {

                    .dimension-mapas {
                        width: 300px;
                        height: 200px;
                    }

                }

            }
        }

        #mainContacto {
            margin: 50px 50px 50px 50px;

            #contacto {

                .titulo-contacto {
                    font-size: 30px;
                }

            }

            .form-contacto {
                font-size: 20px;
                margin: 0px 0px 20px 0px;
                padding: 10px 0px 10px 10px;
            }


            .form-control {
                width: 165px;

            }
        }

        #mainFAQs {

            #faqs {
                .titulo-faqs {
                    font-size: 30px;


                }
            }
        }

        #piePrincipal {

            .logoNegro {
                display: none;
            }

            .social {
                display: grid;
                justify-content: center;
                margin-top: -75px;
                margin-left: 40px;
                padding-top: 80px;
            }
        }

        #pieSecundario {
            .segundoTexto {

                .derechos {
                    color: black;
                    font-size: 10px;
                }
            }
        }

    }

}