#mainProductos {
    @extend #mainContacto;

    #productos {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-bottom: 40px;

        .titulo-productos {
            font-size: $title-font;
        }
    }

    .carreteProd {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 50px;

        .tarjetaProd {
            width: 500px;

            .imagProd {
                border-radius: 10px 10px 10px 10px;
                padding: 10px 10px 10px 10px;

                .imagConsolas {
                    width: 100%;
                    border-radius: 10px 10px 10px 10px;

                }

                .imagConsolas:hover {
                    transform: scale(1.1);
                    transition-duration: 1000ms;


                }

                .nombre-prod {
                    font-size: 20px;
                    font-weight: bold;
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 15px;

                }

                .precio-prod {
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 10px;
                }

            }

        }

    }
}