*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-------------------------------------------*/
/*comienza el header*/

header{
    background-color: rgb(250, 242, 242);
    padding: 10px 10px 0px 10px;
}

.pagNombre{
    font-size: 50px;
}

.barraNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 200px;
}

.busqueda{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 200px;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin-top: 20px;
}

a{
    text-decoration: none;
    font-weight:600;
    padding: 20px;
    color: rgb(10, 10, 65)
}

a:hover{
    color:rgb(146, 146, 146);
    transition-duration: 0.7s;
}

#logo .logo{
    margin-bottom: -80px;
}

/*termina el header*/
/*-------------------------------------------*/
/*comienza el main*/

#mainInicio{
    margin: 10px 0px 10px 0px;
}

#mainInicio .mensajeBienvenida{
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 30px 10px 20px 0px;

}

p{
    font-size: 20px;
    display: flex;
    justify-content: end;
}



#mainProductos{
    margin: 10px 0px 10px 0px;
}

#mainProductos .mensajeBienvenida .trabajandoSitio{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;

}

#mainTiendas{
    margin: 10px 0px 10px 0px;
}

#mainTiendas .mensajeBienvenida .trabajandoSitio{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;

}

#mainContacto{
    margin: 50px 50px 50px 50px;
}

#mainContacto .titulo-contacto{
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 40px;
}

#mainContacto .form-contacto{
    font-size: 20px;
    margin: 0px 0px 20px 0px;
    padding: 10px 400px 10px 10px;

}


#mainCarrito{
    margin: 10px 0px 10px 0px;
}

#mainCarrito .mensajeBienvenida .trabajandoSitio{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;

}


/*termina el main*/
/*-------------------------------------------*/
/*comienza el footer*/

#piePrincipal {
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
    background-color: black;
}

#piePrincipal a{
    width: 100px;
}

#piePrincipal .logoNegro{
    display: grid;
    grid-template-columns: -80px;
    margin-left: -80px;
    width: 150px;
}

#piePrincipal .social{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    justify-content: end;
    margin-top: -75px;
    width: -750px;
}

#pieSecundario{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#pieSecundario .segundoTexto .derechos{
    color: black;
    font-weight:300;
}

@media screen and (max-width: 427px) {
    header{
        background-color: rgb(250, 242, 242);
        padding: 10px 10px 10px 10px;
    }
    
    .pagNombre{
        font-size: 50px;
    }
    
    .barraNav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: 200px;
    }
    
    .busqueda{
        display: grid;
        grid-template-columns: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 200px;
    }
    
    ul{
        list-style-type: none;
    }
    
    li{
        display: inline-block;
        margin-top: 20px;
    }
    
    a{
        text-decoration: none;
        font-weight:600;
        padding: 20px;
        color: rgb(10, 10, 65)
    }

    #mainInicio{
        margin: 10px 0px 10px 0px;
    }
    
    #mainInicio .mensajeBienvenida{
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin: 0px 0px 20px 0px;
        font-weight: normal;
    
    }

    #piePrincipal .social{
        display: grid;
        justify-content: center;
        margin-top: -75px;
        padding-top: 100px;
    }

}